
.options-containers{
    display: flex;
    justify-content: center;
}
.rock{
    margin: 0 10px;
    background-image: url(23568617.png);
    background-size:cover ;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
.paper{
    margin: 0 10px;
    background-image: url(paper.png);
    background-size:cover ;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.scissors{
    margin: 0 10px;
    background-image: url(scissor.png);
    background-size: cover;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}