.rock{
    background-image: url(23568617.png);
    background-size:cover ;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.paper{
    background-image: url(paper.png);
    background-size:cover ;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.scissors{
    background-image: url(scissor.png);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}